<div id="radiosContainer">
    <ul id="images_button_container">
        <li style="width:80px" tabindex="0" class="checked">
            <div id="_d0" class="default"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/145962007971733948091_image_slider.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/145962007971733948091_image_slider.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <div id="_a0" class="active"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/145962007971733948091_image_slider.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/145962007971733948091_image_slider.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <br><label id="_l0"><span style="font-size: 14px;">Checklist</span></label></li>
        <li style="width:80px" tabindex="0" class="">
            <div id="_d1" class="default"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/1460210218443906567373_Image_Upload_Preview.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/1460210218443906567373_Image_Upload_Preview.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <div id="_a1" class="active"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/1460210218443906567373_Image_Upload_Preview.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/1460210218443906567373_Image_Upload_Preview.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <br><label id="_l1"><span style="font-size: 14px;">Fit Text</span></label></li>
        <li style="width:80px" tabindex="0" class="">
            <div id="_d2" class="default"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/149064341585669539382_image_picker.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/149064341585669539382_image_picker.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <div id="_a2" class="active"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/149064341585669539382_image_picker.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/149064341585669539382_image_picker.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <br><label id="_l2"><span style="font-size: 14px;">Form Calculation</span></label></li>
        <li style="width:80px" tabindex="0" class="">
            <div id="_d3" class="default"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/1490212462624696678603_sliders_with_calculated_results.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/1490212462624696678603_sliders_with_calculated_results.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <div id="_a3" class="active"
                 style="background:url(https://d2hfuis4qoies5.cloudfront.net/80x80/1490212462624696678603_sliders_with_calculated_results.png);width:80px;height:80px;"
                 data-imageurl="https://d2hfuis4qoies5.cloudfront.net/80x80/1490212462624696678603_sliders_with_calculated_results.png">
                <div style="top:67px;left:25px;" class="black-radio"></div>
            </div>
            <br><label id="_l3"><span style="font-size: 14px;">Image Slider</span></label></li>
    </ul>
</div>