{% extends 'blog/base.html' %}
{% block content %}
    <div class="container-lg container-sm">
        <div class="row">
            <div class="col">
                <h1>Ввод нового пароля</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               name="password">
                        <p>{{ form.password.errors }}</p>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Повторитеввод нового пароля</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               name="password1">
                    </div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}