{% extends 'blog/base.html' %}
{% block content %}
    <div class="container-lg container-sm">
        <div class="row">
            <div class="col">
                <h1>Сброс пароля</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Электронная почта</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                        <p>{{ form.email.errors }}</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Сбросить</button>
                </form>
                <a href="{% url 'sign_in' %}">Авторизация</a>
                <a href="{% url 'sign_up' %}">Регистрация</a>
            </div>
        </div>
    </div>
{% endblock %}