{% extends 'blog/base.html' %}
{% block content %}
    <div class="container-lg container-sm">
        <div class="row">
            <div class="col">
                <h1>Авторизация</h1>
                {% if form.errors %}
                    <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            <div class="row-form-errors">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
                <a href="{% url 'sign_up' %}">Регистрация</a>
                <a href="{% url 'reset_password' %}">Восстановить пароль</a>
            </div>
        </div>
    </div>
{% endblock %}