
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">Воспоминания</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <img src="{{ user.avatar.url }}">
                                <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.email }}</a>
                                <a class="nav-link" href="{% url 'create-post' %}">Добавить воспоминание</a>
                                <a class="nav-link" href="{% url 'logout' %}">Выход</a>
                            {% else %}
                                <a class="nav-link active" aria-current="page"
                                   href="{% url 'sign_in' %}">Аватаризация</a>
                                <a class="nav-link active" aria-current="page"
                                   href="{% url 'sign_up' %}">Регистрация</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
